.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.numberText {
  margin-bottom: 20px;
}
.btnNumber {
  width: 300px;
  height: 100px;
  background-color: dodgerblue;
  border: none;
  cursor: pointer;
}
.blockText{ 
  font-family: Roboto, sans-serif;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


